.square {
  background: #65f473;
  border: 1px solid #e82e2e;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  content: "";
  display: table;
  clear: both;
}

.square:hover {
  background: #da91e9;
}
